.main {
  font-family: "Montserrat";
  min-height: 84vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.splashscreen {
  height: 92vh;
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.splashscreenDark {
  background-image: url("../public/background-dark.svg");
}
.splashscreenLight {
  background-image: url("../public/background-light.svg");
}

.navigationBar {
  list-style-type: none;
  height: 4vw;
  width: 100%;
  display: flex;
  line-height: 4vw;
  text-align: center;
}

.navigationBar div {
  float: left;
  flex-grow: 1;
  width: 25%;
  background-color: rgb(49, 49, 50);
  color: lightgrey;
  border-right-style: solid;
  cursor: pointer;
}

.navigationBar div:hover,
.navigationBar div:active {
  color: white;
}

.center {
  display: grid;
  place-items: center;
  width: 100vw;
}

.projectsContainer {
  width: 40%;
}

.card {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;

  height: 200px;
  float: left;
}

.cardInside .titleProject {
  font-weight: bold;
  font-size: 20px;
  display: grid;
  margin: 0 10px 0 10px;
  place-items: center;
  height: 80%;
}

.cardInside:hover,
.cardInside:active {
  cursor: pointer;
  background-color: #dedede;
}

.cardInside {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  background-color: white;
}

.cardInside:hover .viewProject span,
.cardInside:active .viewProject span {
  transition: all 100ms;
  color: white;
  background-color: #0767ed;
  border-radius: 10px;
  padding: 5px 8px 5px 8px;
}
.footer {
  min-height: 50px;
}

@media screen and (max-width: 800px) {
  .cardInside .titleProject,
  .viewProject {
    display: grid;
    place-items: center;
    height: 100%;
    margin: 0;
  }
  .cardInside {
    display: flex;
    justify-items: center;
  }
  .cardLink {
    display: grid;
    place-items: center;
    width: 50%;
  }

  .cardInside .titleProject,
  .viewProject {
    width: 50%;
    float: left;
  }

  .center {
    width: 100vw;
  }

  .navigationBar {
    height: 10vw;
    line-height: 10vw;
  }

  .projectsContainer {
    width: 100%;
  }
}
